<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 2</title>
</head>

<body>

  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/home" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">Customers</a></li>
        <li class="nav-item"><a href="/signin" class="nav-link">Support</a></li>
        <li class="nav-item"><a href="/signup" class="nav-link">ContactSales</a></li>
        <li class="nav-item"><a href="/signup" class="nav-link">SIGN IN</a></li>
        <li class="nav-item"><a href="/signup" class="nav-link">Free Sign Up</a></li>
        

      </ul>
    </header>
  </div>
  <img src="zoho.jpeg"
        class="d-block mx-lg-auto img-fluid" alt="PANIMALAR" width="800" height="500" loading="lazy">

  {% block body %} {% endblock %}
</body>

</html>