{% extends 'main.html' %}

{% block username %}

{{ username }}

{% endblock %}

{% block main_body %}

<div class="w-screen h-screen flex flex-row justify-center items-center">

  <div class="flex flex-col items-center max-w-xl w-full m-5">
    
    <h1 class="my-5 text-2xl font-bold">How you want to add food?</h1>
    <a class="p-2 m-2 bg-zinc-800 hover:bg-violet-500 rounded-lg w-full text-center text-lg" href="upload_image">by image</a>
    <h1 class="my-5 text-2xl font-bold">( or )</h1>
    <a class="p-2 m-2 bg-zinc-800 hover:bg-violet-500 rounded-lg w-full text-center text-lg" href="add_details">manualy</a>

  </div>

</div>


{% endblock %}