{% extends 'main.html' %}

{% block mainBody %}

<div class="w-full h-full flex flex-row justify-center items-center">

  <form method="post" class="flex flex-col items-center max-w-xl w-full m-5">
    
    <h1 class="mb-5 text-2xl font-bold">Food details...</h1>

    <p class="mb-3 w-full">Food name</p>
    <input type="text" name="food_name" value="{{ name }}" required class="bg-surfaceVariant rounded-sm block w-full p-3 bg-zinc-800 mb-3" />
    <p class="mb-3 w-full">Calories (calories)</p>
    <input type="number" name="calories" min="1" max="99999" step=0.0001 value="{{ calories }}" required class="bg-surfaceVariant rounded-sm block w-full p-3 bg-zinc-800 mb-3" />
    <p class="mb-3 w-full">Dats (g)</p>  
    <input type="number" name="fat" min="1" max="99999" step=0.0001 value="{{ fat }}" required class="bg-surfaceVariant rounded-sm block w-full p-3 bg-zinc-800 mb-3" />
    <p class="mb-3 w-full">Protein (g)</p>
    <input type="number" name="protein" min="1" max="99999" step=0.0001 value="{{ protein }}" required class="bg-surfaceVariant rounded-sm block w-full p-3 bg-zinc-800 mb-3" />
    <p class="mb-3 w-full">Carbs (g)</p>  
    <input type="number" name="carbs" min="1" max="99999" step=0.0001 value="{{ carbs }}" required class="bg-surfaceVariant rounded-sm block w-full p-3 bg-zinc-800 mb-3" />

    {% if error %}
    <p class="text-red-500">{{ error }}</p>    
    {% endif %}

    <button type="submit" class="w-full inline-block px-6 py-2.5 rounded-sm bg-violet-500 mb-5 mt-5">Continue</button>

  </form>

</div>


{% endblock %}