{% extends 'base.html' %}

{% block body %}

<div class="px-4 py-5 my-5 text-center">
  <a href="https://www.ibm.com/in/en?lnk=m" class="display-5 fw-bold">IBM®</a>
  <h1 class="display-5 fw-bold">The era of creativity has begun</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Introducing the visionaries who apply technology to drive progress in business - and the world
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="https://www.ibm.com/lets-create/new-creators/in-en/" type="button"
        class="btn btn-primary btn-lg px-4 gap-3">Meet the new creators -></a>
    </div>
  </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="row justify-content-center align-items-center py-5">
    <div class="col-sm-12 col-md-5 col-lg-5">
      <p class="fs-5 mb-4">IBM recognized as a leader for enterprise data fabric solutions. See why in The Forrester
        Wave™: Enterprise Data Fabric, Q2 2022</p>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Read the blog</button>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Inside IBM</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#people-circle"></use>
        </svg>
      </div>
      <h3 class="fs-2"> LinuxONE for responsible business</h3>
      <p>Balance performance and security while reducing data center energy usage with IBM LinuxONE Emperor 4</p>
      <a href="https://www.ibm.com/in-en/products/linuxone-emperor-4" class="btn btn-primary px-4">
        Explore the new platform
      </a>
    </div>

    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#people-circle"></use>
        </svg>
      </div>
      <h3 class="fs-2">Guess less, know more</h3>
      <p>IBM Business Analytics helps you make better business decisions fueled by high-quality data and analysis</p>
      <a href="https://www.ibm.com/in-en/analytics/business-analytics" class="btn btn-primary px-4">
        Make data-driven decisions with business analytics
      </a>
    </div>

    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#people-circle"></use>
        </svg>
      </div>
      <h3 class="fs-2">Let’s create security that protects your data anywhere</h3>
      <p>Powered by zero trust, you can bring security to every user, every device and every connection - every time</p>
      <a href="https://www.ibm.com/in-en/analytics/business-analytics" class="btn btn-primary px-4">
        Explore the zero trust approach
      </a>
    </div>

  </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="row justify-content-center align-items-center py-5">
    <div class="col-sm-12 col-md-5 col-lg-5">
      <p class="fs-5 mb-4">How much does a data breach cost in 2022?

        Get insights from real breaches in the Cost of a Data Breach report</p>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Read the blog</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}