<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 2</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body style="background-image: url(https://source.unsplash.com/random/600x600?sig=1); height:100%; background-size: cover;">

  <div class="px-4 py-5 my-5 text-center text-white" style="background: black;">
    <h1 class="display-5 fw-bold">Hi! {{fname}} {{lname}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">You have successfully logged in using {{email}}
      </p>
    </div>
  </div>

  <div class="container text-center">
    <!-- <img src="https://source.unsplash.com/random/200x200?sig=1" /> -->
  </div>

</body>

</html>