{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="mx-auto row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      
      <img src="zoho.jpeg"
        class="d-block mx-lg-auto img-fluid" alt="PANIMALAR" width="800" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">About ZOHO      </h1>
      <p class="lead">Trying to position your brand without knowing your company’s mission, vision, and core values is like shoving a puzzle piece
        into a puzzle without bothering to take a look at its shape first. (Yeah; we’re playing on the word “position” there.) Intelligently positioning your brand means determining your company’s “contours”: the thing you decide to stand for—and the values you decide to abide by—for the long-term. Once you’ve carefully considered those contours, you’ll be better able to see where you fit into the landscape of your industry’s jigsaw—rather than attempting to force your piece of the puzzle into a series of positions that simply don’t fit.
   </p>
    </div>
  </div>
</div>

<div class="container">
  <h1>Vision </h1>
  <p>While the mission statement answers the questions what, for whom, and how, the vision statement answers the questions why (what do we ultimately hope to achieve?) and where (where do we ultimately hope to be?). As you can tell by the word “ultimately,” vision statements are future-looking and aspirational: They articulate longer-term dreams. While your mission statement should be grounded in the reality of the present, your vision statement can be lofty. It outlines a worldview rather than describing your day-to-day. And it’s not always (or only) about the future of the organization, but about the future of the industry, society, or world in which the business hopes to effect change.
  </p>
  <h1>Mission </h1>
  <p>The mission statement answers four fundamental questions: What does your company do today, how does it do it, whom does it do it for, and how does it benefit that group? Notice we said today: A mission is grounded in the short term (3-5 years). In the words of marketing professor Neil Kokemuller, a mission statement “offers insight into what company leaders view as the primary purpose for being in business.” We like Kokemuller’s use of the words “insight” and “primary”; they’re good reminders that the role of a company mission is not to say everything. We’d only add that the best mission statements are viewed by the whole team—not just company leaders—as “the primary purpose for being in business.”</p>
     <p>There’s a practicality and a present tense to the business mission statement: It describes the driving force behind your day-to-day operations, the practical things you’re doing to achieve your vision statement (more on that in a moment).</p>
<h1>The Company Values Statement</h1>
  <p>Core values are a kind of “code of ethics” for a business: They represent the fundamental beliefs that all employees should embody and stand behind, as well as the conduct expected of your team. Combined, your list of core values (we’d suggest 5 as an upper limit) defines the indispensable attributes of your company culture. You can think of them as some combination of character traits and convictions.</p>
  </div>

{% endblock %}