<!DOCTYPE html>
<html lang="en">
  <style>
    body{
      background-image: url("pec2.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
  
  </style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 2</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Oops! {{Register Number}}</h1>
    <p>Your register number or date of birth may be wrong</p>
    <p>or</p>
    <p>create a account by register</p>
  </div>
  
</body>

</html>