{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}

<div class="flex flex-wrap justify-center">
  <a class="p-2 m-2 bg-zinc-800 hover:bg-violet-500 rounded-lg" href="my_history">My history</a>
  <a class="p-2 m-2 bg-zinc-800 hover:bg-violet-500 rounded-lg" href="stats">Stats</a>
  <a class="p-2 m-2 bg-violet-500 hover:bg-violet-500 rounded-lg" href="add_food">Add Food</a>
</div>

{% block mainBody %} {% endblock %}

<script>
  window.watsonAssistantChatOptions = {
    integrationID: "488f8023-403e-4bad-88f2-803a5f68684b", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "2523fb97-410b-456b-923c-f0d768bb93c9", // The ID of your service instance.
    onLoad: function (instance) { instance.render(); }
  };
  setTimeout(function () {
    const t = document.createElement('script');
    t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

{% endblock %}